<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
    <h1 class="bg-success-subtle p-2 text-center text-success w-100">ADMIN PANEL</h1>
    <section class="m-3 d-flex flex-column justify-content-evenly flex-wrap align-items-center border rounded p-4"
        style="width: 380px;">
        <a href="/update-user" class="btn btn-success m-2 w-100">UPDATE</a>
        <a href="/update-user" class="btn btn-success m-2 w-100">UPDATE</a>
        <a href="/update-user" class="btn btn-success m-2 w-100">UPDATE</a>
    </section>
</main>